.chat {
    height: 100%;
    width: 60%;
    background-color: #ffffff09;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.message-window {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x:hidden;
}

.message-list {
    height: 100%;
    width: 100%;
    text-align: left;
    color: rgb(247, 247, 247);
}

.message {
    width: fit-content;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    background-color: #3f6288;
}

.br {
    display: block;
    content: "";
    margin: 10px;
 }

.input-wrapper {
    height: 10%;
    width: 100%;
    align-items: center;
    color: #00000009;
}

.message-text[type=text] {
    height: 50px;
    width: 70%;
    background-color: #4789c22d;
    border-radius: 10px;
    border: none;
    color: rgb(247, 247, 247);
    font-size: large;
}

.send[type=submit] {
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    margin-left:10px;
    background-color: #3f6288;
    font-size:large;
    border: none;
    color: rgb(247, 247, 247);
}