.group-box {
    width: 20%;
    height:100%;
    background-color: #0000000b;
    border-radius: 20px;
    display:inline-block;
    align-items:center;
    text-align: center;
    vertical-align:top;
    color: #25394ac2;
}

.button {
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #3f6288;
    font-size:large;
    color: rgb(250, 250, 250);
    border: none;
}

.group {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    background-color: #3f6288;
    font-size:large;
    color: rgb(250, 250, 250);
    border: none;
}