.join-window {
    height: 30%;
    width: 40%;
    position:absolute;
    top: 50%;
    left: 50%;
    display: flex;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #25476b;
    border: #263c52;
    border-style: solid;
    color: aliceblue;
    font-weight: bold;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}

.id-wrapper {
    width: 100%;
    height: 100%;
    position:relative;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}

.id[type=text] {
    height: 30px;
    width: 60%;
    background-color: #4789c22d;
    border-radius: 10px;
    color: rgb(230, 230, 230);
    font-size: large;
}

.join[type=submit] {
    height: 20%;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    margin-left:10px;
    background-color: #3f6288;
    font-size:large;
    color: rgb(205, 205, 205);
}