body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  height: 12px;
  width: 15px;
  background-color: #3f6288;;
}

::-webkit-scrollbar-thumb {
  background: #315888;
}